.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #f1f1f1;

  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li:hover {
  background-color: #ddd;
  cursor: pointer;
}
.contact-form {
  width: 500px;
  height: 450px;
  margin: 10px 100px 100px 350px;
  padding: 20px;
  background-color: #f1f1f1;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.contact-form button[type='submit'] {
  background-color: #4caf50;
  width: 200px;
  margin-left: 130px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.contact-form button[type='submit']:hover {
  background-color: #45a049;
}

.custom-table {
  width: calc(100% - 150px);
  margin: 20px;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
}

.custom-table th {
  background-color: #f0f0f0;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
.add-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-left: 20px;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
.delete-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
.edit-button:hover {
  background-color: #0056b3;
}

.button-icon {
  margin-right: 5px !important;
}

.button-text {
  font-size: 14px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.card {
  width: 400px;
  height: 200px;
  color: #f3efef;
  background-color: #4f92da;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-count {
  font-size: 24px;
  margin-top: 10px;
}


.dashboard{
  display: flex;
 flex-direction: column;
}
.cardcontainer{
  display: flex;
  justify-content: space-around;
}
.instructions{
  margin-left: 20px;
}